#temp_gauge img{
    width: 300px;
    height: 300px;
}

body {
    background-repeat: no-repeat;
}

#monitor {
    position: fixed;
    top: 15px;
    left: 15px;
}

#temp_act {
    position: fixed;
    top: 235px;
    left: 130px;
}

.led_gauge {
    width: 20px;
    height: 30px;
}

#elapsed_time_min {
    position: fixed;
    top: 329px;
    left: 97px;
    font-size: 0px;
}

#elapsed_time_sec {
    position: fixed;
    top: 329px;
    left: 167px;
    font-size: 0px;
}

.led_time {
    width: 30px;
    height: 45px;
}

#controls {
    position: fixed;
    top: 440px;
    left: 0px;
}

div.led_temp {
    font-size: 0px;
    padding-left: 75px;
    padding-bottom: 10px;
}

.led_normal {
    width: 50px;
    height: 75px;
}

.led_enlarged {
    width: 72px;
    height: 108px;
}

#loading {
    position: fixed;
    top: 340px;
    left: 280px;
}

#message {
    position: fixed;
    top: 340px;
    left: 320px;
}

#chart {
    position: fixed;
    top: 25px;
    left: 320px;
    width: 300px;
    height: 300px;
}

#power {
    position: fixed;
    top: 440px;
    left: 322px;
}

#power img {
    width: 80px;
    height: 80px;
}

#notes {
    position: fixed;
    top: 432px;
    left: 480px;
}

#active_profile {
    position: fixed;
    top: 533px;
    left: 485px;
}

#navigate {
    position: fixed;
    top: 540px;
    left: 790px;
}

#historic_chart, #profile_view {
    position: fixed;
    top: 25px;
    left: 320px;
    width: 650px;
    height: 375px;
}


#historic_notes {
    position: fixed;
    top: 432px;
    left: 320px;
}

#profile_notes {
    position: fixed;
    top: 400px;
    left: 320px;
}

#profile_save {
    position: fixed;
    top: 540px;
    left: 320px;
}

input {
    text-align:right;
}

textarea:focus {
    border-color: rgba(200, 0, 0, 1.0);
    box-shadow: 5px 5px 10px rgba(200, 0, 0, 0.1) inset, 0 0 8px rgba(200, 0, 0, 0.6);
    outline: 0 none;
}
