{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<link rel="stylesheet" href="{{ STATIC_PREFIX }}crc.css">
<script type="text/javascript" src="{{ STATIC_PREFIX }}jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}elfchart.js"></script>
<script type="text/javascript">
    var keys = {};
    var arrow_activity_timer = null;
    var notes_activity_timer = null;
    var temp_set_init = false;

    var STATE_INTERVAL = 1000;

    var temp_chart;

    var needle_width = 120;
    var needle_height = needle_width * 0.12;
    var needle_angle_curr = 0;
    var needle_angle_new = 0;
    var needle_angle_increment = 0;
    var NEEDLE_INTERVAL = 50;

    var TEMP_MIN = 50;
    var TEMP_MAX = 550;

    var KEY_ALT  = 18;
    var KEY_UP   = 38; 
    var KEY_DOWN = 40;
    var KEY_M    = 77;
    var KEY_S    = 83;

    var profile_name = null;
    var profile_intervals = null;
    var profile_int_index = null;
    var profile_data_times = null;
    var profile_data_temps = null;

    // Generate the image name from the passed in temp
    function gauge_image_name(temp)
    {
        return "{{ STATIC_PREFIX }}images/temp_" + temp + ".png";
    }

    // Generate the led image name from the passed in digit
    function led_image_name(digit)
    {
        return "{{ STATIC_PREFIX }}images/led_" + digit + ".png";
    }

    // Enable links to the other pages.
    function enable_links()
    {
        $("#active_profile").hide();
        $("#navigate").show();
    }

    // Disable links to the other pages.
    function disable_links()
    {
        $("#active_profile").show();
        $("#navigate").hide();
    }

    // Enlarge the LEDs for the temperature setting to indicate
    // it is being changed.
    function temp_set_enlarge()
    {
        $( "#temp_set_hundreds" ).addClass( "led_enlarged" );
        $( "#temp_set_tens" ).addClass( "led_enlarged" );
        $( "#temp_set_ones" ).addClass( "led_enlarged" );

        $( "#temp_set_hundreds" ).removeClass( "led_normal" );
        $( "#temp_set_tens" ).removeClass( "led_normal" );
        $( "#temp_set_ones" ).removeClass( "led_normal" );
    }

    // Make the LEDs for the temperature setting normal size
    // indicating no changes are being made.
    function temp_set_normal()
    {
        $( "#temp_set_hundreds" ).addClass( "led_normal" );
        $( "#temp_set_tens" ).addClass( "led_normal" );
        $( "#temp_set_ones" ).addClass( "led_normal" );

        $( "#temp_set_hundreds" ).removeClass( "led_enlarged" );
        $( "#temp_set_tens" ).removeClass( "led_enlarged" );
        $( "#temp_set_ones" ).removeClass( "led_enlarged" );
    }

    // User is done making tempature adjustments. Apply changes.
    function adjust_temp()
    {
        var temp_set = $("#panel").data( "temp_set_adjust" );
        set_temp( temp_set );
        temp_set_normal();
        clearTimeout( arrow_activity_timer );
        arrow_activity_timer = null;
    }

    // Handle user pressing up/down arrow key.
    function handle_arrow_key( increase )
    {
        var temp_set = $("#panel").data( "temp_set_adjust" );
        if ( increase )
        {
            temp_set += 25;
        }
        else
        {
            temp_set -= 25;
        }

        if ( temp_set > TEMP_MAX )
        {
            temp_set = TEMP_MAX;
        }

        if ( temp_set < TEMP_MIN )
        {
            temp_set = TEMP_MIN;
        }

        $("#panel").data( "temp_set_adjust", temp_set );

        temp_set_enlarge();
        update_leds( "temp_set", temp_set );

        clearTimeout( arrow_activity_timer );
        arrow_activity_timer = setTimeout( adjust_temp, 1000 );
    }

    // Apply changes user made to notes.
    function set_notes()
    {
        var notes = $("#notes_txt").val();

        $.ajax({
            url:  "{% url 'control.views.set_notes' %}",
            type: "POST",
            data: { 
                    'csrfmiddlewaretoken': '{{ csrf_token }}', 
                    'notes' : notes 
                  },
            error: function (error) {
                alert("error setting notes to " + notes);
            },
            success: function (response) {
            }
        });

        clearTimeout( notes_activity_timer );
    }

    // Add a new marker
    function add_marker( timestamp, text )
    {
        $.ajax({
            url:  "{% url 'control.views.add_marker' %}",
            type: "POST",
            data: { 
                    'csrfmiddlewaretoken': '{{ csrf_token }}', 
                    'timestamp' : timestamp
                  },
            error: function (error) {
                alert("error adding marker for time " + timestamp);
            },
            success: function (response) {
            }
        });
    }

    // Initialize the power lamp to off.
    function init_power_lamp()
    {
        // Initialize to off. 
        $( "#power_lamp_img" ).attr( "src", "{{ STATIC_PREFIX }}images/green_lamp_off.png" );
        $( "#power" ).data( "state", "off" );
    }

    // Setup handler to timeout after user hasn't typed in notes area for 2 seconds.
    function init_notes()
    {
        // Add listener to detect when note area changes.
        $("#notes").on("keyup paste", function() {
            clearTimeout( notes_activity_timer );
            notes_activity_timer = setTimeout( set_notes, 1000 );
        });
    }

    // Initialize marker data to be empty.
    function init_markers()
    {
        $("#panel").data( "markers", "" );
    }

    // Initialize profile.
    function init_profile()
    {
        $.ajax({
            url:      "{% url 'control.views.get_profile' %}",
            dataType: "json",
            async:    false,
            success:  function( data ) {
                $.each( data, function( key, val ) {
                    if ( key == "profile_name" )
                    {
                        update_profile_name( val );
                    }

                    if ( key == "profile_notes" )
                    {
                        update_notes( val );
                    }

                    if ( key == "profile_intervals" )
                    {
                        update_profile_intervals( val );
                    }
                });
            },
            error:    function( response ) {
                alert("Error getting profile");
            }
        });
    }

    // Cancel the active profile.
    function cancel_profile()
    {
        $.ajax({
            url:      "{% url 'control.views.cancel_profile' %}",
            type:     "POST",
            data: { 
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                  },
            success:  function( data ) {
                enable_links();
            },
            error:    function( response ) {
                alert("Error cancelling profile");
            }
        });
    }

    // Create chart instance to use for drawing charts.
    function create_chart()
    {
        var ctx = $("#chart_canvas").get(0).getContext("2d");

        yaxis = new ElfChartAxis( 0, 500, 100, undefined );
        xaxis = new ElfChartAxis( 0, 60 * 12, 60, conv_to_min_sec );

        temp_chart = new ElfChart( 0, 0, 550, 375, xaxis, yaxis, ctx );

        temp_chart.initialize();
        temp_chart.add_data_set("temp_set",  "black", [], []);
        temp_chart.add_data_set("temp_act",  "red", [], []);

        if ( profile_data_times )
        {
            temp_chart.add_data_set("temp_act",  "blue", profile_data_times, 
                                                         profile_data_temps);
        }
    }

    // Handle user pressing alt-m to set a marker
    function handle_marker_key()
    {
        var state =  $( "#power" ).data( "state" );
        var markers = $("#panel").data( "markers" );
        var last_tick = $("#panel").data( "last_tick" );
        var start_time = $("#panel").data( "start" );
        var elapsed = last_tick - start_time;

        if ( state == "on" )
        {
            add_marker( elapsed );
        }
    }

    // Handle user pressing alt-s to power on/off unit.
    function handle_power_key()
    {
        var state = $("#power").data( "state" );

        if ( state == "off" )
        {
            set_mode("manual");
        }
        else
        {
            reset_profile();
            set_mode("idle");
        }
    }

    // Setup keyboard controls.
    function setup_keyboard_control()
    {
        $(document).keydown(function(e) {
            keys[e.which] = true;

            if (      ( keys[KEY_ALT] == true ) &&
                      ( keys[KEY_UP] == true ) )
            {
                handle_arrow_key( true );
            }
            else if ( ( keys[KEY_ALT] == true ) &&
                      ( keys[KEY_DOWN] == true ) )
            {
                handle_arrow_key( false );
            }
            else if ( ( keys[KEY_ALT] == true ) &&
                      ( keys[KEY_M] == true ) )
            {
                handle_marker_key();
            }
            else if ( ( keys[KEY_ALT] == true ) &&
                      ( keys[KEY_S] == true ) )
            {
                handle_power_key();
            }
        });

        $(document).keyup(function(e) {
            switch(e.which) {
                case KEY_DOWN:
                case KEY_UP:
                case KEY_ALT:
                case KEY_M:
                case KEY_S:
                    delete keys[e.which];
                    break;

                default:
                    return;
            }
        });

        // Add clicking ability to power lamp.
        document.getElementById('power_lamp_img').addEventListener('click',
                handle_power_key );
    }

    // Apply mode.
    function set_mode(mode)
    {
        $.ajax({
            url:  "{% url 'control.views.set_mode' %}",
            type: "POST",
            data: { 
                    'csrfmiddlewaretoken': '{{ csrf_token }}', 
                    'mode' : mode 
                  },
            error: function (error) {
                alert("error setting mode to " + mode);
            },
            success: function (response) {
            }
        });
    }

    // Apply temperature setting.
    function set_temp(temp)
    {
        $.ajax({
            url:  "{% url 'control.views.set_temp' %}",
            type: "POST",
            data: { 
                    'csrfmiddlewaretoken': '{{ csrf_token }}', 
                    'temp' : temp 
                  },
            error: function (error) {
                alert("error setting temp to " + temp);
            },
            success: function (response) {
            }
        });
    }

    // Get the latest state from the module.
    function get_state() 
    {
        $.getJSON( "{% url 'control.views.get_state' %}",
            function( data ) {
                $.each( data, function( key, val ) {
                    if ( key == "temp_act" )
                    {
                        update_temp_act(val);
                    }

                    if ( key == "temp_set" )
                    {
                        update_temp_set(val);
                    }

                    if ( key == "mode" )
                    {
                        update_mode( val );
                    }

                    if ( (key == "notes") &&
                         !notes_activity_timer )
                    {
                        update_notes( val );
                    }

                    if ( (key == "markers") )
                    {
                        update_markers( val );
                    }

                    if ( (key == "last_tick") ||
                         (key == "start") ||
                         (key == "current_time") )
                    {
                        $("#panel").data( key, val );
                    }
                });

            update_elapsed();
            update_chart();
            update_profile();
            }
        );
    }

    // Split a temperature into seperate digits.
    function led_digits(temp)
    {
        var digits = [0,0,0];

        digits[0] = temp % 10;

        temp = Math.floor(temp/10);

        if ( temp > 0 )
        {
            digits[1] = temp % 10;
            temp = Math.floor(temp / 10);
        }

        if ( temp > 0 )
        {
            digits[2] = temp;
        }


        return digits;
    }

    // Update the power lamp based on the returned mode.
    function update_mode(mode)
    {
        // Manual mode means system is running. Stopped mode means it is idle.
        if ( mode == "manual" )
        {
            var state = $( "#power" ).data( "state" );

            // If this is the first update turning on then clear the chart.
            if ( state == "off" )
            {
                create_chart();
            }
            $( "#power" ).data( "state", "on" );
            $( "#power_lamp_img" ).attr( "src", "{{ STATIC_PREFIX }}images/green_lamp_on.png" );
        }
        else
        {
            $( "#power" ).data( "state", "off" );
            $( "#power_lamp_img" ).attr( "src", "{{ STATIC_PREFIX }}images/green_lamp_off.png" );
        }
    }

    // Update the notes area based on the returned notes.
    function update_notes(notes)
    {
        $("#notes_txt").val(notes);
    }

    // Update the markers area based on the returned markers.
    function update_markers( latest_markers )
    {
        var state =  $( "#power" ).data( "state" );
        var temp_set =  $("#panel").data( "temp_set" );
        var current_markers = $("#panel").data( "markers" );

        // Only update elapsed when system is on
        if ( state == "on" )
        {
            if ( current_markers != latest_markers )
            {
                var markers = latest_markers.split(',');
                var latest_marker = markers[markers.length - 1];

                temp_chart.add_vert_line( latest_marker, 1.5 );
            }
        }
        else
        {
            $("#panel").data( "markers", "" );
        }

        $("#panel").data( "markers", markers );
    }

    function update_leds(id, temp)
    {
        var digits = led_digits(temp);
        $( "#" + id + "_hundreds" ).attr( "src", led_image_name( digits[2] ) );
        $( "#" + id + "_tens" ).attr( "src", led_image_name( digits[1] ) );
        $( "#" + id + "_ones" ).attr( "src", led_image_name( digits[0] ) );
    }

    // Update the set temp based on the returned temps.
    function update_temp_set(temp)
    {
        var id = "temp_set"; 

        // Save off temp to be used to update the chart
        $("#panel").data( id, temp );

        // If the set temperature has not been initialized
        // set it now. If the set temp is updated during each
        // call of this function it will cause race conditions
        // when the display is being updated by the user or
        // a profile interval is being applied.
        if ( !temp_set_init )
        {
            update_leds( id, temp );
            temp_set_init = true;
        }

        // Only update the set temperature if it isn't actively being
        // changed. 
        if ( !arrow_activity_timer )
        {
            $("#panel").data( "temp_set_adjust", temp );
        }
    }

    // Update the temps based on the returned temps.
    function update_temp_act(temp)
    {
        if ( temp > TEMP_MAX )
        {
            temp = TEMP_MAX;
        }

        var id = "temp_act"; 
        var digits = led_digits(temp);

        // Save off temp to be used to update the chart
        $("#panel").data( id, temp );

        // Minimum gauge reading is 140.
        if ( temp < 140 )
        {
            temp = 140;
        }

        update_temp_gauge( temp );
        update_leds( id, temp );
    }

    function update_temp_gauge( new_temp )
    {
        needle_angle_new = (new_temp - 220) * 0.6;
   
        // Determine amount to move needle. Make sure needle is moved before
        // next state change.
        needle_angle_increment = (needle_angle_new - needle_angle_curr)/
                                 ((STATE_INTERVAL/NEEDLE_INTERVAL) - 1);

        move_needle();
    }

    function move_needle()
    {
        var context = document.getElementById('temp_gauge_canvas').getContext('2d');
        var temp_image = new Image();
        var temp_needle = new Image();

        temp_image.src = '{{ STATIC_PREFIX }}images/gauge_background.png';
        temp_needle.src = '{{ STATIC_PREFIX }}images/gauge_needle.png';

        needle_angle_curr = needle_angle_curr + needle_angle_increment;

        context.clearRect(0,0, 400, 400);
        context.drawImage( temp_image, 0, 0, 300, 300 ); 

        context.save();

        context.translate( 148, 152 );

        context.rotate( needle_angle_curr * Math.PI/180 );
        context.drawImage( temp_needle, -needle_width/1.27, -needle_height/2, 
                           needle_width, needle_height );

        context.restore();

        if ( Math.abs(needle_angle_new - needle_angle_curr) > 1 )
        {
            setTimeout( move_needle, NEEDLE_INTERVAL );
        }
        else
        {
            needle_angle_curr = needle_angle_new;
        }
    }

    function format_timestamp( timestamp ) {
        var digits = [];
        var num_mins = parseInt(timestamp / 60);
        var num_secs = parseInt(timestamp - (num_mins * 60));
        var min_digits = led_digits( num_mins );
        var sec_digits = led_digits( num_secs );

        digits[0] = sec_digits[0];
        digits[1] = sec_digits[1];
        digits[2] = min_digits[0];
        digits[3] = min_digits[1];

        return digits;
    }

    // Update elapsed time.
    function update_elapsed() 
    {
        var state =  $( "#power" ).data( "state" );

        // Only update elapsed when system is on
        if ( state == "on" )
        {
            var last_tick = $("#panel").data( "last_tick" );
            var time_start = $("#panel").data( "start" );
            var elapsed = last_tick - time_start;

            if ( elapsed > 0.0 )
            {
                digits = format_timestamp ( elapsed );

                $( "#elapsed_min_tens" ).attr( "src", 
                        led_image_name( digits[3] ) );
                $( "#elapsed_min_ones" ).attr( "src", 
                        led_image_name( digits[2] ) );
                $( "#elapsed_sec_tens" ).attr( "src", 
                        led_image_name( digits[1] ) );
                $( "#elapsed_sec_ones" ).attr( "src", 
                        led_image_name( digits[0] ) );
            }
        }
    }

    function update_profile()
    {
        var state =  $( "#power" ).data( "state" );

        var last_tick = $("#panel").data( "last_tick" );
        var time_start = $("#panel").data( "start" );
        var elapsed = last_tick - time_start;

        var temp_set = $("#panel").data( "temp_set" );

        // Only process profile if the system in on.
        if ( state != "on" )
        {
            return;
        }

        if ( (profile_name != null) && profile_name.length > 0 )
        {
            var interval = profile_intervals[profile_int_index];

            // On the last interval already. Nothing to do.
            if ( profile_int_index == (profile_intervals.length - 1) )
            {
                return;
            }

            // Apply this interval if it hasn't been applied yet.
            if ( interval.applied == false )
            {
                update_leds( "temp_set", interval.temp_set );
                set_temp( interval.temp_set );
                interval.applied = true;
                return;
            }

            // See if the next interval is ready to start.
            interval = profile_intervals[profile_int_index + 1];

            // Time to move to the next interval.
            if ( elapsed >= interval.time_start )
            {
                profile_int_index++;
                interval = profile_intervals[profile_int_index];

                update_leds( "temp_set", interval.temp_set );
                set_temp( interval.temp_set );
                interval.applied = true;
            }
        }

    }

    // Reset a profile to run from the beginning
    function reset_profile()
    {
        var i = 0;

        if ( profile_name != null )
        {
            for ( i = 0; i < profile_intervals.length; i++ )
            {
                profile_intervals[i].applied = false;
            }

            profile_int_index = 0;
        }

    }
    // Update chart
    function update_chart() {
        var state =  $( "#power" ).data( "state" );

        var last_tick = $("#panel").data( "last_tick" );
        var time_start = $("#panel").data( "start" );
        var current_time = $("#panel").data( "current_time" );

        // A stale timestamp most probably indicates the
        // unit is not running.
        if ( current_time - last_tick > 10 )
        {
            var canvas =  document.getElementById("chart_canvas");
            var ctx = canvas.getContext("2d");
            clear_canvas( canvas.width, canvas.height, ctx );

            $("#message").html("<p><b>Last activity was over 10 seconds ago. Please reboot system.</b></p>");
            $("#message").show();
            return;
        }
        else
        {
            $("#message").hide();
        }

        // Only update chart when system is on
        if ( state == "on" )
        {
            var timestamp_str = '';

            // Only update when log has moved past the time
            // when the system was started.
            if ( last_tick > time_start )
            {
                var temp_act = $("#panel").data( "temp_act" );
                var temp_set = $("#panel").data( "temp_set" );

                var elapsed_time = last_tick - time_start;

                temp_chart.add_data( elapsed_time, [temp_set, temp_act] );
            }
        }
    }

    function update_profile_name( prof_name )
    {
        profile_name = prof_name;

        if ( prof_name.length > 0 )
        {
            $("#profile_name").html( prof_name );
            disable_links();
        }
        else
        {
            enable_links();
        }
    }

    function update_profile_intervals( prof_data )
    {
        var i;
        var prev_temp;

        profile_intervals = [];
        profile_data_times = [];
        profile_data_temps = [];

        for ( i = 0; i < prof_data.length; i++ )
        {
            var int_parts = prof_data[i].split(',');
            var time_start = parseInt( int_parts[0] );
            var temp_set = parseInt( int_parts[1] );

            // Create new interval.
            var interval = {time_start: time_start, 
                            temp_set:   temp_set,
                            applied:    false};

            profile_intervals.push( interval );

            // Create new data point for chart.  If this is not the first
            // point then add a point for the previous temp so the profile 
            // line is draw as a stair step. 
            //
            // For the following profile four data points are needed to
            // draw the stairstep profile:
            //      20, 100
            //      10,  75
            //       0,  50
            //
            // 
            // 100                     
            //              -----------|
            //              |
            //  50  ---------
            //
            //
            //   0  
            //      0       10        20
            //
            if ( profile_data_times.length > 0 )
            {
                profile_data_times.push( time_start );
                profile_data_temps.push( prev_temp );

            }
            profile_data_times.push( time_start );
            profile_data_temps.push( temp_set );

            prev_temp = temp_set;
        }

        // Start off with the first interval.
        profile_int_index = 0;
    }

    // Wait until all images are loaded before displaying the control panel.
    $(window).on("load", function() {
        // Initialize chart area
        create_chart();

        // Initialize the set temperature LED to normal size
        temp_set_normal();

        // Set lamp.
        init_power_lamp();

        // Initialize notes
        init_notes();

        // Initialize markers
        init_markers();

        // Initialize profile
        init_profile();

        $("#loading").hide();

        setup_keyboard_control();
        setInterval(get_state, STATE_INTERVAL);
    });
</script>
{% block content %}
<html>
    <head>
    <style>
    body {
        background-image: url("{{ STATIC_PREFIX }}images/background.png");
    } 
    </style>
    </head>
    <body>
        <div id="panel">
            <div id="monitor">
                <div id="temp_gauge">
                    <canvas id="temp_gauge_canvas" width=400 height=400></canvas>
                </div>
                <div id="temp_act">
                    <img id="temp_act_hundreds" class="led_gauge" src="{{STATIC_PREFIX}}images/led_0.png">
                    <img id="temp_act_tens" class="led_gauge" src="{{STATIC_PREFIX}}images/led_0.png">
                    <img id="temp_act_ones" class="led_gauge" src="{{STATIC_PREFIX}}images/led_0.png">
                </div>
                <div id="elapsed_time_min">
                    <img id="elapsed_min_tens" class="led_time" src="{{STATIC_PREFIX}}images/led_0.png">
                    <img id="elapsed_min_ones" class="led_time" src="{{STATIC_PREFIX}}images/led_0.png">
                </div>
                <div id="elapsed_time_sec">
                    <img id="elapsed_sec_tens" class="led_time" src="{{STATIC_PREFIX}}images/led_0.png">
                    <img id="elapsed_sec_ones" class="led_time" src="{{STATIC_PREFIX}}images/led_0.png">
                </div>
                <div id="loading">
                    <img src="{{ STATIC_PREFIX }}images/ajax-loader.gif" width="20" height="20"/>
                    <span style="font-size:150%;">Loading </span>  
                    <img src="{{ STATIC_PREFIX }}images/gauge_background.png" width="1" height="1" border="0"/>
                    <img src="{{ STATIC_PREFIX }}images/gauge_needle.png" width="1" height="1" border="0"/>
                    <img src="{{ STATIC_PREFIX }}images/led_0.png" width="1" height="1" border="0"/>
                    <img src="{{ STATIC_PREFIX }}images/led_1.png" width="1" height="1" border="0"/>
                    <img src="{{ STATIC_PREFIX }}images/led_2.png" width="1" height="1" border="0"/>
                    <img src="{{ STATIC_PREFIX }}images/led_3.png" width="1" height="1" border="0"/>
                    <img src="{{ STATIC_PREFIX }}images/led_4.png" width="1" height="1" border="0"/>
                    <img src="{{ STATIC_PREFIX }}images/led_5.png" width="1" height="1" border="0"/>
                    <img src="{{ STATIC_PREFIX }}images/led_6.png" width="1" height="1" border="0"/>
                    <img src="{{ STATIC_PREFIX }}images/led_7.png" width="1" height="1" border="0"/>
                    <img src="{{ STATIC_PREFIX }}images/led_8.png" width="1" height="1" border="0"/>
                    <img src="{{ STATIC_PREFIX }}images/led_9.png" width="1" height="1" border="0"/>
                    <img src="{{ STATIC_PREFIX }}images/green_lamp_off.png" width="1" height="1" border="0"/>
                    <img src="{{ STATIC_PREFIX }}images/green_lamp_on.png" width="1" height="1" border="0"/>
                </div>
                <div id="message">
                </div>
                <div id="chart">
                    <canvas id="chart_canvas" width=550 height=400></canvas>
                </div>
            <div id="controls">
                <div id="temp_set" class="led_temp">
                    <img id="temp_set_hundreds" class="led_normal" src="{{STATIC_PREFIX}}images/led_0.png">
                    <img id="temp_set_tens" class="led_normal" src="{{STATIC_PREFIX}}images/led_0.png">
                    <img id="temp_set_ones" class="led_normal" src="{{STATIC_PREFIX}}images/led_0.png">
                </div>
                <div id="power">
                    <img id="power_lamp_img" src="{{STATIC_PREFIX}}images/green_lamp_off.png">
                </div>
                <div id="notes">
                    <textarea id="notes_txt" rows="5" cols="50">
                    </textarea>
                </div>
                <div id="active_profile" style="display:none;">
                    <font id="profile_name" size="5" color="blue"></font>
                    <img onclick="cancel_profile();return false;" height="25" width="25" src="{{STATIC_PREFIX}}images/stop_icon.png">
                </div>
                <div id="navigate" style="display:none;">
                    <a href="{% url 'roasts.views.index' %}">
                    <img id="log_icon" height="25" width="25" src="{{STATIC_PREFIX}}images/log_icon.png">
                    </a>
                    <a href="{% url 'profiles.views.index' %}">
                    <img id="prof_icon" alt="Profiles" height="25" width="25" src="{{STATIC_PREFIX}}images/profile_icon.png">
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}
