<form method="GET" action=".">
<table>
    {% for roast in roasts %}
    <tr>
        <td>{{ roast.log_time }}</td>
        <td><input type="submit" value="view" onclick="get_roast_file('{{ roast.file_name }}'); return false;"></td>
        <td><input type="submit" value="csv" onclick="export_roast_file('{{ roast.file_name }}'); return false;"></td>
        <td><input type="submit" value="png" onclick="export_image_file('{{ roast.file_name }}'); return false;"></td>
        <td><input type="submit" value="prof" onclick="make_profile('{{ roast.file_name }}'); return false;"></td>
    </tr>
    {% endfor %}
</table>
</form>
